html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    font-family: var(--main-font), sans-serif;
    color: var(--main-color);
    background-color:var(--secondary-color);
    font-size: var(--main-font-size);
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &.no-scroll {
        overflow: hidden;
    }

}

* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}


