%container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;



    @media screen and (min-width: $mobile) {
        min-width: $mobile;
    }

    @media screen and (min-width: $tablet) {
        min-width: $tablet;
    }

    @media screen and (min-width: $desktop) {
        min-width: $desktop;
    }
}