.advantages {
    background-color: var(--bg-color);
    padding-top: 20px;
    padding-bottom: 20px;

    @media screen and (min-width: $tablet) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
.advantages .container{
    @extend %container;
}

.advantages__list {

    @media screen and (min-width: $tablet) {
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(2, 1fr);

    }

    @media screen and (min-width: $desktop) {
        grid-template-columns: repeat(3, 1fr);
        gap: 70px;
        
    }
}

.advantages__item {
    margin-bottom: 20px;

}

// .advantages__card {
//         @media screen and (min-width: $desktop) {
//             border-right: 1px solid rgba(255, 255, 255, 0.50);
            
//         }
// }

.advantages__svg {
    width: 64px;
    height: 64px;
    padding: 18px;
    border-radius: 365px;
    border: 1px solid rgba(255, 255, 255, 0.50);
}

.advantages__title {
    padding-top: 22px;
    margin-bottom: 18px;
    color: var(--secondary-color);
    
    font-size: var(--subtitle-font-size);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.advantages__text {
    padding-right: 18px;
    color: rgba(255, 255, 255, 0.70);
    font-family: Montserrat;
    line-height: normal;
    letter-spacing: -0.28px;
}