.header {
    @extend %container;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__menu {
    
    @media screen and (min-width: $desktop) {
        display: none;
    }
}
.menu_svg {
    fill: var(--secondary-color);
    stroke: var(--main-color);
}
