.hero {
    @extend %container;
    padding-top: 14px;
    padding-bottom: 71px;

    @media screen and (min-width: $tablet) {
        padding-top: 24px;
        padding-bottom: 50px;
    }

    @media screen and (min-width: $desktop) {
        padding-top: 32px;
        padding-bottom: 72px;
    }
}

.hero__content {
    width: 335px;
    height: 620px;
    padding: 395px 20px 20px 20px;
    border-radius: 30px;

    background-image: url('../images/bg-hero/bg-hero-mob-@1x.jpg');
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/bg-hero/bg-hero-mob-@2x.jpg');
        }
    
        @media screen and (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            background-image: url('../images/bg-hero/bg-hero-mob-@3x.jpg');
        }
    
    @media  screen and (min-width: $tablet) {
        width: 704px;
        height: 890px;
        padding: 671px 40px 40px 40px;
        background-image: url('../images/bg-hero/bg-hero-tab-@1x.jpg');

        @media screen and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url('..images/bg-hero/bg-hero-tab-@2x.jpg');
            }
        
            @media screen and (min-device-pixel-ratio: 3),
            (min-resolution: 288dpi),
            (min-resolution: 3dppx) {
                background-image: url('../images/bg-hero/bg-hero-tab-@3x.jpg');
            }
        
    }

    @media screen and (min-width: $desktop) {
        width: 1136px;
        height: 600px;
        padding-top: 381px;
        background-image: url('../images/bg-hero/bg-hero-des-@1x.jpg');
        
        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/bg-hero/bg-hero-des-@2x.jpg');
        }
        
        @media screen and (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            background-image: url('../images/bg-hero/bg-hero-des-@3x.jpg');
        }
        
    }
}


.hero__text {
    width: 295px;
    margin-bottom: 32px;

    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.6px;

    @media screen and (min-width: $tablet) {
        width: 484px;
        font-size: 28px;
        line-height: 1.21;
        letter-spacing: -0.84px;
        
    }

}

.hero__button {
    @media screen and (min-width: $tablet) {
        display: flex;
        gap: 153px;
        justify-content: space-between;
        
    }
}

.hero__btn {
    display: flex;
    gap: 14px;
    margin-bottom: 32px;

    @media screen and (min-width: $tablet) {
        margin: 0;
    
    }
}

.hero__btn-buy {
    @include button (var(--secondary-color), var(--main-font-size), var(--accent-color));
    transition: background-color var(--anima-fast), color var(--anima-fast);

    &:hover,
    :focus {
        background: #FCF1E0;
        color: var(--accept-color);
    }
}

.hero__btn-how {
    @include button (var(--secondary-color), var(--main-font-size), none);
    border: 1px solid #FFF;
    transition: background var(--anima-fast), color var(--anima-fast), border var(--anima-fast);

    &:hover,
    :focus {
        background: var(--secondary-color);
        color: var(--accept-color);
        
        border: 1px solid #FD9222;
    }
}

.hero__btn-scroll {
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: -0.36px;

    color: var(--secondary-color);
    background-color: rgba(0, 0, 0, 0);

    transition: color var(--anima-fast);

    &:hover,
    :focus {
        color: var(--accent-color);
    }

    @media screen and (min-width: $tablet) {
        font-size: var(--main-font-size);
        line-height: 1.29;
        letter-spacing: -0.42px;
    }

}

.scroll__svg {
    border-radius: 50%;
    background-color: var(--secondary-color);
    transition: background-color var(--anima-fast), fill var(--anima-fast), ;
    
        &:hover,
        :focus {
            background-color: var(--accent-color);
            fill: var(--secondary-color);
            
}
}