.hero {
    @extend %container;
    background-image: url(../../images/bg-hero/bg-hero-mob-@1x.jpg);
    width: 335px;
    height: 621px;
    

}


.hero__text {
    margin-bottom: 32px;
    padding-top: 395px;

    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.6px;

}

.hero__btn {
    display: flex;
    gap: 14px;
    margin-bottom: 32px;
}

.hero__btn-buy {
    @include button (var(--secondary-color), var(--main-font-size), var(--accent-color));
    transition: background-color var(--anima-fast);

    &:hover,
    :focus {
        background: #FCF1E0;
        color: var(--accept-color);
    }
}

.hero__btn-how {
    @include button (var(--secondary-color), var(--main-font-size), none);
    border: 1px solid #FFF;

    &:hover,
    :focus {
        background: var(--secondary-color);
        color: var(--accept-color);
        
        border: 1px solid #FD9222;
    }
}

.hero__btn-scroll {
    display: flex;
    gap: 12px;
    align-items: center;
    color: var(--secondary-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: -0.36px;

    background-color: rgba(0, 0, 0, 0);

}

.hero__scroll{
    border-radius: 50%;
    background-color: var(--secondary-color);
}