.logo__text {
    display: flex;
    gap: 4px;
    align-items: center;
    font-weight: 700;
    line-height: 1.29%;
    letter-spacing: -0.42px;
    transition: 0.3s;

    &:hover,
    &:focus {
        color: var(--accent-color);
    
    }
}

.logo__svg {
    width: 21px;
    height: 21px;
}