.nav {
    display: none;

    @media screen and (min-width: $desktop) {
        display: flex;
        
    }
}

.nav__list {
    display: flex;
    gap: 24px;

}

.nav__link {
    font-weight: 500;
    line-height: 1.14%;
    letter-spacing: -0.28px;
    transition: var(--anima-fast);
    
        &:hover,
        &:focus {
            color: var(--accent-color);
        
        }

}

