.socialNetworks__list {
    display: none;

        @media screen and (min-width: $desktop) {
            display: flex;
            gap: 18px;
    
        }
}

.socialNetworks__svg {
    fill: var(--secondary-color);
    stroke: var(--main-color);
    transition: stroke var(--anima-fast);

    &:hover,
    :focus {
        stroke: var(--accent-color);
    }
}